@import "../../app.scss";
.we {
    height: 100%;
    width: 100%;
    .love-info {
        display: flex;
        justify-content: center;
        // height: 30%;
        align-items: center;
        padding: 50rpx 0;

        .jwy,
        .yqn {
            width: $avatar-width;
            height: $avatar-height;
            border-radius: 50%;
        }

        .connect {
            width: 130rpx;
            height: 130rpx;
            margin: 30rpx 30rpx 0;
        }
    }
}
