@import "../../app.scss";

.home {
    @include fullScreen;
    @include safeArea;
    @include flex();
    background-image: linear-gradient(
        to top,
        rgba(#ecebef, 1) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    flex-direction: column;
    overflow: hidden;

    .page-content {
        flex: 12;
        width: 100%;
        position: relative;

        .day-total {
            font-size: 35rpx;
            text-align: center;
        }

        .page-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: showHide 0.5s ease;
        }

        @keyframes showHide {
            from {
                opacity: 0;
                transform: translateX(50%);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .page-tabs {
        flex: 1.1;
        width: 100%;
        position: relative;
        .page-tabs_container {
            @include flex(space-around);
            width: 96%;
            height: 90rpx;
            border-radius: 60rpx;
            font-weight: bold;
            position: absolute;
            background-color: #fff;
            overflow: hidden;
            z-index: 10;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .page-tab {
                @include flex;
                height: 100%;
                &-item {
                    &-icon {
                        width: 70rpx;
                        transition: width 0.1s linear;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                &.active {
                    .page-tab-item {
                        border: 1px solid #f6e5e8;
                        border-radius: 50%;
                        .page-tab-item-icon {
                            width: 80rpx;
                            height: 80rpx;
                        }
                    }
                }
            }
        }
    }
}
