@import './variables.scss';
@import './types/font.scss';
@import './types/image.scss';
@import './types/page.scss';

// flex布局
@mixin flex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

