$image-serve: 'https://app.vpsdomain.top:20228/appStatic/heartBeat/images';
$font-serve: 'https://app.vpsdomain.top:20228/appStatic/heartBeat/fonts/';

// 个字体库文件名
// 方正卡通简体
$fangZheng: 'FangZheng-Simplified-Chinese';

